*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

body{
  background-color: #1e2d3b;
  height:100vh;
}

header{
  background-color: #2e3a46;
  height:40px;
}

header img{
  height: 80%;
  margin-left: 20%;
  margin-top: 4px;
}

main{
  width:60%;
  margin:20px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#genreinput{
  width: 100%;
}

.container{
  width:calc(25% - 15px);
  margin:15px 15px 0 0;
  background-color: #2e3a46;

  text-align: center;
}

.img-wrap{
  width:80%;
  margin:0 auto;
}

.img-wrap img{
  max-width: 100%;
  margin-top: 15px;
}

.title{
  color:#fff;
  font-size: 14px;
  margin:5px auto;
}

.author , .year {
  color:#7b7c7c;
  font-size: 12px;
}

.year{
  margin-bottom: 15px;
}
